In [2]:
#connect to petsDB and check whether the connection is successful
#import sqlite
import sqlite3

#open connection
conn = sqlite3.connect("petsdb")
conn.close()

In [3]:
#opened up the database and printed one of the tables from it 
conn = sqlite3.connect("petsdb")
cursor = conn.cursor()
rows = cursor.execute("SELECT * FROM persons")
for row in rows:
    print(row)

(1, 'Erica', None, 22, 'south port', 2345678)
(2, 'Jordi', None, 73, 'east port', 123456)
(3, 'Chasity', None, 70, 'new port', 76856785)
(4, 'Gregg', None, 31, 'new port', 76856785)
(5, 'Tony', 'Lindgren', 7, 'west port', 2345678)
(6, 'Cary', None, 73, 'new port', 76856785)
(7, 'Gabe', 'Thompson', 54, 'new port', 9756543)
(8, 'Francisca', None, 14, 'west port', 123456)
(9, 'Katelyn', 'Torphy', 49, 'east port', 9756543)
(10, 'Raleigh', None, 68, 'new port', 2345678)
(11, 'Maria', None, 42, 'west port', 123456)
(12, 'Mariane', None, 62, 'south port', 9756543)
(13, 'Mona', None, 44, 'south port', 76856785)
(14, 'Kayla', None, 36, 'south port', 2345678)
(15, 'Karlie', None, 35, 'west port', 123456)
(16, 'Morris', None, 71, 'west port', 76856785)
(17, 'Sandy', None, 23, 'east port', 2345678)
(18, 'Hector', None, 63, 'east port', 9756543)
(19, 'Hiram', None, 52, 'west port', 2345678)
(20, 'Tressa', None, 59, 'new port', 123456)
(21, 'Berry', None, 22, 'south port', 2345678)
(22, 'Pearline', None, 73, 'new port', 9756543)
(23, 'Maynard', None, 25, 'east port', 123456)
(24, 'Dorian', None, 40, 'east port', 123456)
(25, 'Mylene', None, 5, 'east port', 76856785)
(26, 'Lafayette', None, 34, 'new port', 2345678)
(27, 'Friedrich', 'Wunsch', 48, 'east port', 9756543)
(28, 'Domenica', 'Lakin', 13, 'west port', 76856785)
(29, 'Tara', None, 39, 'west port', 123456)
(30, 'Destiny', None, 18, 'south port', 2345678)
(31, 'Lesly', None, 31, 'west port', 123456)
(32, 'Perry', None, 19, 'south port', 76856785)
(33, 'Keyon', 'Upton', 51, 'south port', 123456)
(34, 'Jacquelyn', 'Bradtke', 54, 'south port', 123456)
(35, 'Maritza', None, 73, 'east port', 9756543)
(36, 'Ivory', 'Sawayn', 8, 'south port', 76856785)
(37, 'Grant', None, 61, 'east port', 76856785)
(38, 'Salma', 'Terry', 71, 'west port', 123456)
(39, 'Laury', None, 17, 'east port', 9756543)
(40, 'Name', None, 52, 'east port', 9756543)
(41, 'Estefania', None, 32, 'new port', 76856785)
(42, 'Destiney', None, 65, 'west port', 2345678)
(43, 'Jaquelin', None, 73, 'west port', 9756543)
(44, 'Brenda', 'Murray', 62, 'south port', 2345678)
(45, 'Alfonzo', None, 16, 'east port', 2345678)
(46, 'Lisandro', None, 11, 'new port', 76856785)
(47, 'Lurline', 'Becker', 24, 'west port', 76856785)
(48, 'Timmothy', 'Tillman', 12, 'new port', 76856785)
(49, 'Priscilla', None, 65, 'east port', 76856785)
(50, 'Elenora', None, 11, 'new port', 76856785)
(51, 'Wendell', 'Sauer', 39, 'south port', 76856785)
(52, 'Rudolph', None, 14, 'east port', 76856785)
(53, 'Gabriella', 'Kertzmann', 30, 'south port', 76856785)
(54, 'Citlalli', 'Pollich', 18, 'west port', 2345678)
(55, 'Dax', 'Romaguera', 23, 'west port', 123456)
(56, 'Ona', None, 35, 'east port', 9756543)
(57, 'Rebeca', None, 50, 'new port', 76856785)
(58, 'Lou', 'Bradtke', 71, 'south port', 2345678)
(59, 'Sigurd', None, 12, 'west port', 76856785)
(60, 'Nicklaus', 'Purdy', 72, 'new port', 2345678)
(61, 'Destiney', 'Sauer', 24, 'west port', 2345678)
(62, 'Cassidy', 'Crona', 18, 'east port', 123456)
(63, 'Alice', None, 8, 'west port', 76856785)
(64, 'Dane', None, 24, 'west port', 9756543)
(65, 'Judge', None, 17, 'south port', 76856785)
(66, 'Allene', None, 9, 'new port', 9756543)
(67, 'Jalen', None, 33, 'new port', 2345678)
(68, 'Aniyah', 'Grant', 27, 'new port', 9756543)
(69, 'Ashton', 'Schaden', 25, 'west port', 2345678)
(70, 'Myron', None, 36, 'new port', 9756543)
(71, 'Presley', 'Gleason', 58, 'new port', 9756543)
(72, 'Ephraim', 'Kihn', 67, 'south port', 123456)
(73, 'Travon', None, 16, 'south port', 2345678)
(74, 'Shayna', None, 60, 'new port', 2345678)
(75, 'Myah', None, 14, 'east port', 2345678)
(76, 'Sammy', 'Franecki', 53, 'south port', 76856785)
(77, 'Ebba', 'Kihn', 34, 'west port', 2345678)
(78, 'Leilani', 'Gislason', 53, 'south port', 123456)
(79, 'Isabel', 'Beier', 74, 'west port', 2345678)
(80, 'Jo', 'DuBuque', 68, 'west port', 76856785)
(81, 'Angel', 'Mraz', 37, 'west port', 123456)
(82, 'Letha', None, 44, 'new port', 9756543)
(83, 'Lily', 'Hegmann', 12, 'east port', 123456)
(84, 'Felton', None, 74, 'east port', 2345678)
(85, 'London', None, 66, 'east port', 9756543)
(86, 'Koby', None, 31, 'west port', 9756543)
(87, 'Golden', None, 35, 'east port', 76856785)
(88, 'Elfrieda', 'Nikolaus', 36, 'west port', 2345678)
(89, 'Anissa', None, 8, 'south port', 76856785)
(90, 'Mathew', 'Luettgen', 71, 'east port', 2345678)
(91, 'Sid', None, 22, 'west port', 123456)
(92, 'Micheal', 'Schuppe', 6, 'west port', 9756543)
(93, 'Joanie', 'Cassin', 68, 'new port', 76856785)
(94, 'Jerad', 'Pfeffer', 74, 'west port', 123456)
(95, 'Benjamin', 'Lowe', 51, 'south port', 9756543)
(96, 'Ernesto', None, 69, 'east port', 9756543)
(97, 'Josianne', None, 14, 'west port', 76856785)
(98, 'Hilma', 'Waelchi', 48, 'east port', 9756543)
(99, 'Otilia', 'Gleason', 66, 'new port', 9756543)
(100, 'Adrian', 'Schinner', 5, 'south port', 76856785)

In [4]:
#find the different age groups in the persons database
#open database
with sqlite3.connect('petsdb') as conn:
    cursor = conn.cursor()
    #group by ages and pull the count
    for people,age in cursor.execute("SELECT count(*), age FROM persons GROUP BY age"):
        #print in an easy to read way
        print("{} people who are age {}".format(people,age))

2 people who are age 5
1 people who are age 6
1 people who are age 7
3 people who are age 8
1 people who are age 9
2 people who are age 11
3 people who are age 12
1 people who are age 13
4 people who are age 14
2 people who are age 16
2 people who are age 17
3 people who are age 18
1 people who are age 19
3 people who are age 22
2 people who are age 23
3 people who are age 24
2 people who are age 25
1 people who are age 27
1 people who are age 30
3 people who are age 31
1 people who are age 32
1 people who are age 33
2 people who are age 34
3 people who are age 35
3 people who are age 36
1 people who are age 37
2 people who are age 39
1 people who are age 40
1 people who are age 42
2 people who are age 44
2 people who are age 48
1 people who are age 49
1 people who are age 50
2 people who are age 51
2 people who are age 52
2 people who are age 53
2 people who are age 54
1 people who are age 58
1 people who are age 59
1 people who are age 60
1 people who are age 61
2 people who are age 62
1 people who are age 63
2 people who are age 65
2 people who are age 66
1 people who are age 67
3 people who are age 68
1 people who are age 69
1 people who are age 70
4 people who are age 71
1 people who are age 72
5 people who are age 73
3 people who are age 74

In [5]:
#find the age group that has the maximum number of people
#open database
with sqlite3.connect('petsdb') as conn:
    cursor = conn.cursor()
    #group by ages and pull the count, ordered by highest
    for people,age in cursor.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
        #print in an easy to read way
        print("{} people who are age {}".format(people,age))

5 people who are age 73
4 people who are age 71
4 people who are age 14
3 people who are age 74
3 people who are age 68
3 people who are age 36
3 people who are age 35
3 people who are age 31
3 people who are age 24
3 people who are age 22
3 people who are age 18
3 people who are age 12
3 people who are age 8
2 people who are age 66
2 people who are age 65
2 people who are age 62
2 people who are age 54
2 people who are age 53
2 people who are age 52
2 people who are age 51
2 people who are age 48
2 people who are age 44
2 people who are age 39
2 people who are age 34
2 people who are age 25
2 people who are age 23
2 people who are age 17
2 people who are age 16
2 people who are age 11
2 people who are age 5
1 people who are age 72
1 people who are age 70
1 people who are age 69
1 people who are age 67
1 people who are age 63
1 people who are age 61
1 people who are age 60
1 people who are age 59
1 people who are age 58
1 people who are age 50
1 people who are age 49
1 people who are age 42
1 people who are age 40
1 people who are age 37
1 people who are age 33
1 people who are age 32
1 people who are age 30
1 people who are age 27
1 people who are age 19
1 people who are age 13
1 people who are age 9
1 people who are age 7
1 people who are age 6

In [6]:
#find the people who do not have a last name

#counting everyone without a last name in the system
last =  cursor.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for l in last:
    #only printing number with statement
    print("number of people {}".format(l[0]))

number of people 60

In [9]:
#find hout how many pets have received treatment

#selecting all pets with treatment from pets table and printing
treat = cursor.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in treat:
    print(row)

(36,)

In [10]:
#find out how many pets have received treatment and the type of pet is known

#selecting all pets with treatment and without pet_type from pets table
type = cursor.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
for row in type:
    print(row)

(16,)

In [11]:
#find out how many pets are from the city called east port

#joined the pets and persons tables via owner_id, and counting pets where city is east port
east = cursor.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row in east:
    print(row)

(49,)

In [12]:
#find out how many pets are from the city east port and who received a treatment

#joining the two tables with two factors of people from specific city and pets with treatment
east_treat = cursor.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in east_treat:
    print(row)

(11,)